<h1>New User</h1>

<% if (message.length > 0) { %>
<div class="alert alert-danger"><%= message %></div>
<% } %>
<form action="/admin/newUser" method="post">
    <%- include newUserFields %>

    <button type="submit" class="btn btn-warning btn-lg">Create User</button>
</form>
