<% include partials/header %>

<h1 id="coding-for-product">Coding For Product</h1>

<p>Summer 2017 coding workshop presented by Philosophie and Women Who Code.</p>
<p>Philosophie will be holding a series of five workshops where we guide small teams
of intermediate-beginner female coders to create a web application about public
transit. The workshops are aimed at self-driven learners who have have basic
programming knowledge, and want to gain experience in a collaborative development
environment.</p>
<p>The workshops will be held June/July on Sundays from 1pm to 5 pm at Philosophie&#39;s
Santa Monica office.</p>

<h2 id="more-details">More Details</h2>

<p>Unlike other coding programs that just focus on coding, we will cover product,
design, and development. Each week will start with 4 hours of lectures at
Philosophie. During the rest of the week, the teams will implement some of the
ideas from lectures into their project. Each person is expected to spend 12
hours a week working on the project. (4 hours of lectures , 8 hours of
self-guided learning + programming with team members).</p>
<p>For weeks 2-4, teams will do a short demo of their project to show what they
have accomplished during the past week. In week 5, the teams will do a full
presentation of their app.</p>

<h2 id="prerequisites">Prerequisites</h2>

<ul>
<li>Basic knowledge of html and css.</li>
<li>Basic knowledge of a programming language (Javascript, Python, etc.).</li>
<li>Ability to spend 12 hours of week on the project</li>
<li>Ability to work with small teams</li>
<li>Must be at least 18 years old</li>
<li>Must be female or identify with being female</li>
</ul>

<h2 id="cost">Cost</h2>

<p>The workshops have free-unless-you-flee pricing model. Each participant pays
$100 refundable fee. You will get your money back if you finish all the
workshops. If you drop out, the fee will be donated to Women Who Code.</p>
<h2 id="rough-curriculm-outline">Rough Curriculm Outline</h2>
<ul>
<li>Week 1 June 25: Intro to being a well-rounded developer (web basics, process, product, design)</li>
<li>Week 2 July 2: Collaborating on code, intro to backend + frontend</li>
<li>Week 3 July 9: Deploying an app</li>
<li>Week 4 July 16: Breadth of possibilities in the industry</li>
<li>Week 5 July 23: Project Presentations &amp; professional development</li>
</ul>

<% include partials/footer %>
