<h1>New Team</h1>

<% if (message.length > 0) { %>
<div class="alert alert-danger"><%-  message.join('  <br>') %></div>
<% } %>
<form action="/admin/teams" method="post">
    <%- include teamFields %>

    <button type="submit" class="btn btn-warning btn-lg">Create Team</button>
</form>
