<h1>New User</h1>

<%- include ../../partials/alerts %>

<form action="/admin/users" method="post">
    <%- include userFields %>

    <button type="submit" class="btn btn-warning btn-lg">Create User</button>
</form>
