<h1>New User</h1>

<% if (alerts.length > 0) { %>
<div class="alert alert-danger"><%-  alerts.join('  <br>') %></div>
<% } %>
<form action="/admin/users" method="post">
    <%- include userFields %>

    <button type="submit" class="btn btn-warning btn-lg">Create User</button>
</form>
