<h1>New Team</h1>

<%- include ../../partials/alerts %>

<form action="/admin/teams" method="post">
    <%- include teamFields %>

    <button type="submit" class="btn btn-warning btn-lg">Create Team</button>
</form>
