<h1>Curriculum</h1>

<h2>Week 1, June 25: Intro to Being a Well-rounded Developer</h2>

<h3>Lectures</h3>
<ol>
  <li>Intro to web apps</li>
  <li>Basic to project management tools for group work</li>
  <li>Intro to lean/agile</li>
  <li>Intro to product design</li>
  <li>Basic git workflow for group projects</li>
</ol>

<h2>Week 2, July 2: Collaborating on Code, Intro to Backend + Frontend</h2>

<h3>Lectures</h3>
<ol>
  <li>Tips for searching for answers and debugging</li>
  <li>Frontend
    <ol>
      <li>Intro to visual design for developers</li>
      <li>Intro to html and css frameworks</li>
    </ol>
  </li>
  <li>Backend
    <ol>
      <li>Frameworks and libraries</li>
      <li>Intro to databases</li>
    </ol>
  </li>
</ol>

<h2>Week 3, July 9: More Frontend/Backend </h2>

<h3>Lectures</h3>
<ol>
  <li>Intro to responsive design</li>
  <li>Intro to authentication/ authorization</li>
  <li>Intro to APIs</li>
  <li>Overview of deployment and options</li>
</ol>

<h2>Week 4, July 16: Breadth of Possibilities in the Industry</h2>

<h3>Lectures</h3>
<ol>
  <li>Intro to programming paradigms</li>
  <li>It’s not just web apps…</li>
  <li>Tips on presenting/pitching an app</li>
</ol>

<h2>Week 5, July 23: Presentations & Professional Development</h2>

<h3>Lectures</h3>
<ol>
  <li>Project presentations</li>
  <li>Advice for those interested in becoming a dev</li>
  <li>Diversity in tech</li>
  <li>Communicating with non-dev team members</li>
  <li>Professional development </li>
</ol>
