<h1>Curriculum</h1>

<h2>Week 1, June 25: Intro to Being a Well-rounded Developer</h2>

<h3>Lectures</h3>
<ol>
  <li>Intro to lean/agile - Lara Fedoroff</li>
  <li>Intro to product design - Lara Fedoroff</li>
  <li>Intro to web apps - Wai-Yin Kwan</li>
  <li>Intro to Git and Github for group projects - Wai-Yin Kwan</li>
  <li>Project management tools - Wai-Yin Kwan</li>
  <li>Explain the group project - Wai-Yin Kwan</li>
  <li>Setting up Dev Environment - Wai-Yin Kwan</li>
</ol>

<h3>Goals</h3>
<ol>
  <li>Organize your team</li>
  <li>Identitify the problem you’re trying to solve</li>
  <li>Create persona and sketches/wireframes for the project</li>
  <li>User test the sketches/wireframes</li>
  <li>Pick a tech stack - language and framework</li>
  <li>Setup Dev Environment</li>
  <li>Create a repo for the team project</li>
  <li>Practice Git by adding info about your project to the README - name and description of the project, team members, tech stack</li>
  <li>Practice using PM Tools by adding tasks to the backlog</li>
</ol>

<h3>Slides &#038 Links</h3>
<ul>
  <li><a href='https://drive.google.com/drive/folders/0B7_O-60DlbGBUXpSWjRBZGtvV3c'>Slides</a></li>
  <li><a href='https://github.com/CodingForProduct/cfp_website/wiki/Week-1-Links#week-1-links'>Lecture Links</a></li>
  <li><a href='https://www.youtube.com/playlist?list=PLo5KlKiF602TxQ9ACuq0NsLUiVd4g3Jm_'>Videos</a></li>
  <% if (currentUser) { %>
  <li><a href="/course_feedback/week/1">Course Feedback</a></li>
  <% } %>
</ul>

<h2>Week 2, July 2: Collaborating on Code, Intro to Backend + Frontend</h2>

<h3>Lectures</h3>
<ol>
  <li>General coding guidelines - Wai-Yin Kwan</li>
  <li>Intro to debugging - Wai-Yin Kwan</li>
  <li>Intro to CSS frameworks - Mallory Reulman</li>
  <li>Intro to databases - Nihara</li>
  <li>Anatomy of web app, part 1 - Wai-Yin Kwan</li>
  <li>Intro to Package Managers - Wai-Yin Kwan</li>
</ol>

<h3>Goals</h3>
<ol>
  <li>Start coding </li>
  <li>Continue learning language, git, frameworks</li>
  <li>Pick a CSS framework if needed</li>
  <li>Pick a database if needed</li>
  <li>Pick plain SQL vs ORM if needed </li>
  <li>Add hard coded-coded data or seed data if needed</li>
  <li>Users test the app if needed</li>
  <li>Use a project management tool if needed</li>
</ol>

<h3>Slides &#038 Links</h3>
<ul>
  <li><a href='https://drive.google.com/drive/folders/0B7_O-60DlbGBN2NFMGN0YUZGRzg'>Slides</a></li>
  <li><a href='https://www.youtube.com/playlist?list=PLo5KlKiF602TP2QwRmfvuSv0WyWAyc1QE'>Videos</a></li>
  <% if (currentUser) { %>
  <li><a href="/course_feedback/week/2">Course Feedback</a></li>
  <% } %>
</ul>

<h2>Week 3, July 9: More Frontend/Backend </h2>

<h3>Lectures</h3>
<ol>
  <li>Intro to authentication/ authorization - John</li>
  <li>Intro to APIs - John</li>
  <li>Intro to deployment - Nihara</li>
  <li>Intro to data modeling - Wai-Yin Kwan</li>
  <li>Anatomy of web app, part 2 - Wai-Yin Kwan</li>
</ol>

<h3>Goals</h3>
<ol>
  <li>continue coding</li>
  <li>connect to a database if needed connect to api if needed</li>
  <li>work on the major flows of your app add auth if needed</li>
  <li>deploy the app</li>
  <li>add CI / CD if you have tests</li>
  <li>users test the app if needed</li>
</ol>

<h3>Slides &#038 Links</h3>
<ul>
  <li><a href='https://drive.google.com/drive/u/3/folders/0B7_O-60DlbGBaU1BX1MzRlp6OTQ'>Slides</a></li>
  <li><a href='https://www.youtube.com/playlist?list=PLo5KlKiF602RS7MicHb-eWscJHSCiOIh1'>Videos</a></li>
  <% if (currentUser) { %>
  <li><a href="/course_feedback/week/3">Course Feedback</a></li>
  <% } %>
</ul>

<h2>Week 4, July 16: Even More Frontend/Backend</h2>

<h3>Lectures</h3>
<ol>
  <li>Intro to design for developers - Keaton</li>
  <li>Tips on presenting/pitching an app - Krishen</li>
  <li>Intro to Sass - Alice</li>
  <li>Intro to code testing - John</li>
  <li>Web App Recap - Wai-Yin</li>
  <li>Anatomy of web app, part 3 - Wai-Yin</li>
</ol>

<h3>Goals</h3>
<ol>
  <li>User test your feature from week 3 if needed</li>
  <li>Finish app</li>
  <li>Work on presentation</li>
</ol>

<h3>Slides &#038 Links</h3>
<ul>
  <li><a href='https://drive.google.com/drive/folders/0B7_O-60DlbGBTzhEaWlhVGl3aHc'>Slides</a></li>
  <li><a href='https://www.youtube.com/playlist?list=PLo5KlKiF602QfF2EmSFATogypDzmTTO63'>Videos</a></li>
  <% if (currentUser) { %>
  <li><a href="/course_feedback/week/4">Course Feedback</a></li>
  <% } %>
</ul>


<h2>Week 5, July 30: Presentations & Professional Development</h2>

<h3>Lectures</h3>
<ol>
  <li>Project presentations</li>
  <li>Professional development - Lynn Boyden, JD Wolk</li>
  <li>Communicating with non-dev team members - Ari Abraham, Wai-Yin Kwan</li>
  <li>Advice for those interested in becoming a dev & diversity</li>
  <li>What's Next - Wai-Yin Kwan</li>
</ol>

<h3>Slides &#038 Links</h3>
<ul>
  <li><a href='https://drive.google.com/drive/folders/0B7_O-60DlbGBbFNQVEFkbElrdEk'>Slides</a></li>
  <li><a href='https://www.youtube.com/playlist?list=PLo5KlKiF602QEKjksY4Nz7SKsgCe4cEQN'>Videos</a></li>
</ul>
