<h1>Curriculum</h1>

<h2>Week 1, June 25: Intro to Being a Well-rounded Developer</h2>

<h3>Lectures</h3>
<ol>
  <li>Intro to web apps</li>
  <li>Basic to project management tools for group work</li>
  <li>Intro to lean/agile - Lara Fedoroff</li>
  <li>Intro to product design - Lara Fedoroff</li>
  <li>Basic git workflow for group projects</li>
</ol>

<h3>Goals</h3>
<ol>
  <li>Pick a tech stack</li>
  <li>Create sketches/wireframes for the project</li>
  <li>User test the sketches/wireframes</li>
  <li>Add tasks to the backlog</li>
  <li>Add info about your project to the README</li>
</ol>

<h2>Week 2, July 2: Collaborating on Code, Intro to Backend + Frontend</h2>

<h3>Lectures</h3>
<ol>
  <li>Tips for searching for answers and debugging</li>
  <li>Frontend
    <ol>
      <li>Intro to visual design for developers - Brooke Kao</li>
      <li>Intro to html and css frameworks - Mallory Reulman</li>
    </ol>
  </li>
  <li>Backend
    <ol>
      <li>Frameworks and libraries</li>
      <li>Intro to databases</li>
    </ol>
  </li>
</ol>

<h3>Goals</h3>
<ol>
  <li>Start coding</li>
  <li>Pick a persistence strategy</li>
</ol>

<h2>Week 3, July 9: More Frontend/Backend </h2>

<h3>Lectures</h3>
<ol>
  <li>Intro to responsive design</li>
  <li>Intro to authentication/ authorization</li>
  <li>Intro to APIs</li>
  <li>Overview of deployment and options - Nihara</li>
  <li>Intro to Analytics - Lara Fedoroff</li>
</ol>

<h3>Goals</h3>
<ol>
  <li>Pick an external data source if needed</li>
  <li>Pick a authentication strategy if needed</li>
  <li>Deploy the app</li>
  <li>User test your feature from week 2 if needed</li>
</ol>

<h2>Week 4, July 16: Breadth of Possibilities in the Industry</h2>

<h3>Lectures</h3>
<ol>
  <li>Intro to programming paradigms</li>
  <li>It’s not just web apps…</li>
  <li>Tips on presenting/pitching an app</li>
</ol>

<h3>Goals</h3>
<ol>
  <li>User test your feature from week 3 if needed</li>
  <li>Finish app</li>
  <li>Work on presentation</li>
</ol>


<h2>Week 5, July 23: Presentations & Professional Development</h2>

<h3>Lectures</h3>
<ol>
  <li>Project presentations</li>
  <li>Advice for those interested in becoming a dev - panel discussion</li>
  <li>Diversity in tech - panel discussion</li>
  <li>Communicating with non-dev team members - Ari Abraham, Wai-Yin Kwan</li>
  <li>Professional development - Nick Giancola, Lara Fedoroff</li>
</ol>
