<h1 id="coding-for-product">Coding For Product</h1>

<p><a href="http://philosophie.is">Philosophie</a> + <a href="http://womenwhocode.com">Women Who Code</a> will be holding a series of five workshops where we guide small teams
of intermediate-beginner female coders to create a web application. The workshops will be held every Sunday from 1pm to 5pm, June 25 - July 23, 2017 at Philosophie (1615 16th Street, Santa Monica) .</p>
<p>I&#39;m Wai-Yin Kwan, a developer at <a href="http://philosophie.is">Philosophie</a>, co-organizer of Women Who Code LA, and lead organizer of the workshops. You can reach me at waiyin at philosophie dot is.</p>

<h2 id="links">Links</h2>
<ul>
<li><a href="workshop_summary">Summary of the workshop</a></li>
<li>Q&amp;A session: <a href="https://vimeo.com/218082086">video</a> and <a href="workshop_qa.pdf">slides</a></li>
<li>Curriculum:</li>
<li><a href="https://codingforproduct.slack.com/">Slack group</a> Slack is basically a fancy chat app. Slack will be the main avenue of communcation for the workshops. You can join the Slack group before completing the application process. Contact Wai-Yin to get access.</li>
<li><a href="https://www.youtube.com/channel/UCwffrMtdUuNBJW2itK2E3jg">YouTube channel</a></li>
<% if (currentUser) { %>
<li><a href="https://drive.google.com/drive/folders/0B7_O-60DlbGBdmxxYmlXOUpfcE0?usp=sharing">Google Drive</a></li>
<% } %>
<li><a href="https://github.com/wykhuh/coding_for_product/wiki">wiki</a></li>
</ul>

<h2 id="application-process">Application Process</h2>
<ol>
<li>Attend the Q&amp;A session or watch the video of the Q&amp;A session</li>
<li>Sign up for a <a href="https://github.com">Github</a> account.</li>
<li>Complete the <a href="coding_exercise">coding exercise</a>.</li>
<li>Complete the <a href="https://goo.gl/forms/gVgMt1WbJsFJWurp1">application</a>.</li>
</ol>

<p>Applications are due by June 11th.</p>
<p>Coding exercises are due by June 11th for people with experience in a programming language, and June 18th for people who are doing prep-work for a programming language.</p>
