<h1>Students</h1>

<ul>
 <% users.false.forEach(function(user) { %>
  <li>
    <a href='/users/<%= user.id %>' ><%= user.name %></a>
  </li>
<% }) %>
</ul>

<h1>Mentors</h1>

<ul>
 <% users.true.forEach(function(user) { %>
  <li>
    <a href='/users/<%= user.id %>' ><%= user.name %></a>
  </li>
<% }) %>
</ul>
